@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src:    url("custom_assets/fonts/Source Sans Pro/SourceSansPro-Black.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-BlackItalic.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-Bold.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-BoldItalic.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-ExtraLight.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-ExtraLightItalic.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-Italic.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-Light.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-LightItalic.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-Regular.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-SemiBold.ttf") format('truetype'),
            url("custom_assets/fonts/Source Sans Pro/SourceSansPro-SemiBoldItalic.ttf") format('truetype');
}