.altura{
    height: 93vh;
}

.nav-custom{
    background: #508ABA;
}

.box-title{
    color: white;
    font-weight: bold;
}

.table_bordered{
    border: 1px solid black !important;
}

.margin-dt{
    margin-bottom: 10px !important;
}

.select2{
    width:100% !important;
}

.dataTables_length{
    margin: 8px 0 0 8px !important;
}

thead,tfoot{
    background: #222D32;
}

thead>tr>th, tfoot>tr>th{
    color: white;
}

.user-border{
    border: 1px solid #343434 !important;
}

.green-light{
    color: green;
}

.red-light{
    color: red;
}

.a_alert{
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    color:white;
    background: red;
    position: fixed;
    border-radius: 5px;
    z-index: 2;
    right:15px;
    top: 100px;
}

.alert-input{
    border-color: #dd3b1e;
	box-shadow:inset 0px 0px 5px 1px #dd3b1e;
}

.swal-overlay {
	background-color: rgba(80, 138, 186, 0.637);
}

.swal-modal {
	border: 1px solid rgb(10, 10, 10);
}

.swal-button{
	padding: 7px 19px;
	border-radius: 1px;
	background-color: #508ABA;
	font-size: 12px;
	border: 1px solid #000000;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

.swal-button--cancel{
    padding: 7px 19px;
	border-radius: 1px;
	background-color: rgb(212, 43, 13);
	color:white;
	font-size: 12px;
	border: 1px solid #000000;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

#captcha-div{
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
}




